@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudMenu Label="Menu" Variant="MudBlazor.Variant.Outlined">
    <MudMenuItem>First</MudMenuItem>
    <MudMenuItem>Second</MudMenuItem>
</MudMenu>
